<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.prodyna.bamboo.status.preferences.BambooPreferencePage"
            id="com.prodyna.bamboo.status.preferences.BambooPreferencePage"
            name="Bamboo Status">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.prodyna.bamboo.status.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.prodyna.bamboo.status"
            name="Bamboo">
      </category>
      <view
            category="com.prodyna.bamboo.status"
            class="com.prodyna.bamboo.status.views.PlanStatusView"
            icon="icons/sample.gif"
            id="com.prodyna.bamboo.status.views.PlanStatusView"
            name="Plan Status">
      </view>
   </extension>

</plugin>
